@import "../../saassStyles/variables";

.top-bar {
  width: 100%;
  background: #363943;
  border-radius: 30px;
  padding: 13px 20px;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 700;
  color: $base-color;
  margin: 20px 0 0 0;
}
